<div class="panel panel-default">
    <div class="panel-body">

        <div class="panel stats-now">
            <button type="button"
                    class="btn btn-xxlg btn-pink btn-cons btn-animated from-left fa fa-eye full-width m-b-20">
                <span>Demo</span>
            </button>
            <button type="button"
                    class="btn btn-xxlg btn-info btn-cons btn-animated from-top fa fa-arrow-down full-width">
                <span>Download</span>
            </button>
        </div>

        <ul class="panel stats-infos nav">
            <li><a class="" href=""><i class="fa fa-flask"></i>Version
                actuelle
                :<span class="v">12</span></a></li>
            <li><a class="" href=""><i class="fa fa-calendar"></i>Date :<span
                    class="v">02.10.2014</span></a></li>
            <li><a class="" href=""><i class="fa fa-file-text-o"></i>Statut
                :<span
                        class="v">Stable</span></a></li>
            <li><a class="" href=""><i class="fa fa-download"></i>Téléchargements
                :<span class="v">486</span></a></li>
        </ul>

        <div class="panel stats-workers">
            <div class="panel-heading separator">
                <div class="panel-title">
                    <h5 class="text-transform-none no-margin">
                        <span class="semi-bold">Workers</span> List</h5>
                </div>
            </div>
            <ul class="list-unstyled no-margin">
                <li class="m-r-10">
                    <a href=""
                       class="block thumbnail-wrapper d32 circular b-success m-r-5 b-a bordered">
                        <img width="35" height="35"
                             data-src-retina="media/people/80/1x.jpg"
                             data-src="media/people/80/1.jpg"
                             alt="Profile Image"
                             src="media/people/35/1.jpg">
                    </a>
                </li>
                <li>
                    <a href=""
                       class="block thumbnail-wrapper d32 circular b-success m-r-5 b-a bordered">
                        <img width="35" height="35"
                             data-src-retina="media/people/80/2x.jpg"
                             data-src="media/people/80/2.jpg"
                             alt="Profile Image"
                             src="media/people/35/2.jpg">
                    </a>
                </li>
                <li>
                    <a href=""
                       class="block thumbnail-wrapper d32 circular b-warning m-r-5 b-a bordered">
                        <img width="35" height="35"
                             data-src-retina="media/people/80/3x.jpg"
                             data-src="media/people/80/3.jpg"
                             alt="Profile Image"
                             src="media/people/35/3.jpg">
                    </a>
                </li>
                <li>
                    <a href=""
                       class="block thumbnail-wrapper d32 circular b-danger m-r-5 b-a bordered">
                        <img width="35" height="35"
                             data-src-retina="media/people/80/4x.jpg"
                             data-src="media/people/80/4.jpg"
                             alt="Profile Image"
                             src="media/people/35/4.jpg">
                    </a>
                </li>
                <li>
                    <a href=""
                       class="block thumbnail-wrapper d32 circular b-info-lighter m-r-5 b-a bordered">
                        <img width="35" height="35"
                             data-src-retina="media/people/80/5x.jpg"
                             data-src="media/people/80/5.jpg"
                             alt="Profile Image"
                             src="media/people/35/5.jpg">
                    </a>
                </li>
                <li>
                    <a href=""
                       class="block thumbnail-wrapper d32 circular b-info-lighter m-r-5 b-a bordered">
                        <img width="35" height="35"
                             data-src-retina="media/people/80/6x.jpg"
                             data-src="media/people/80/6.jpg"
                             alt="Profile Image"
                             src="media/people/35/6.jpg">
                    </a>
                </li>
                <li>
                    <a href=""
                       class="block thumbnail-wrapper d32 circular b-info-lighter m-r-5 b-a bordered">
                        <img width="35" height="35"
                             data-src-retina="media/people/80/7x.jpg"
                             data-src="media/people/80/7.jpg"
                             alt="Profile Image"
                             src="media/people/35/7.jpg">
                    </a>
                </li>
                <li>
                    <div class="thumbnail-wrapper d32 circular b-white bordered">
                        <a href=""
                           class="bg-master text-center text-white block"><span>+34</span></a>
                    </div>
                </li>
            </ul>
        </div>

        <div data-pages="portlet" class="panel stats-comments">
            <div class="panel-heading separator">
                <div class="panel-title">
                    <h5 class="text-transform-none no-margin">
                        Last <span class="semi-bold">Comment</span></h5>
                </div>
                <div class="panel-controls">
                    <ul>
                        <li><a data-toggle="collapse" class="portlet-collapse" href=""><i
                                class="fa fa-angle-up"></i></a>
                        </li>
                        <li><a data-toggle="refresh" class="portlet-refresh" href=""><i
                                class="fa fa-circle-o fs-11"></i></a>
                        </li>
                        <li><a data-toggle="close" class="portlet-close" href=""><i
                                class="portlet-icon portlet-icon-close"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="container-xs-height">
                    <div class="row-xs-height">
                        <div class="social-user-profile col-xs-height text-center col-top">
                            <div class="thumbnail-wrapper d48 circular bordered b-success">
                                <a href="" class="block"><img alt="Avatar" width="55" height="55"
                                                              data-src-retina="assets/img/profiles/avatar_small2x.jpg"
                                                              data-src="assets/img/profiles/avatar.jpg"
                                                              src="media/people/80/1.jpg"></a>
                            </div>
                        </div>
                        <div class="col-xs-height p-l-20">
                            <h5 class="no-margin"><a href="" class="text-master">Jannie Dvis</a></h5>
                            <a href=""
                               class="small-text text-pink link">Show
                                profile</a>

                            <p class="no-margin fs-12 lh-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                                mattis, neque nec pharetra mattis, arcu turpis condimentum elit, ut ultricies sem tortor sed
                                lectus.</p>

                            <p class="hint-text m-t-5 small">3 days ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-pages="portlet" class="panel stats-charts">

            <div class="panel-heading separator">
                <div class="panel-title">
                    <h5 class="text-transform-none no-margin">
                        Project <span class="semi-bold">visits</span></h5>
                </div>
                <div class="panel-controls">
                    <ul>
                        <li><a data-toggle="collapse" class="portlet-collapse" href=""><i
                                class="fa fa-angle-up"></i></a>
                        </li>
                        <li><a data-toggle="refresh" class="portlet-refresh" href=""><i
                                class="fa fa-circle-o fs-11"></i></a>
                        </li>
                        <li><a data-toggle="close" class="portlet-close" href=""><i
                                class="portlet-icon portlet-icon-close"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <!-- START WIDGET -->
                <div class="widget-16 panel no-border  no-margin widget-loader-circle">
                    <div class="relative">
                        <div class="chart-16 line-chart" data-line-color="success"  data-points="true" data-point-color="white"
                             data-stroke-width="2">
                            <svg></svg>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </div>
        </div>

    </div>
</div>
