<div class="view-project-content">

    <!-- START PROJECT NAV-TAB -->
    <div class="project-wrap-nav container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="project-wrap-nav-filter">
                    <h5 class="title text-white pull-left">List of projects</h5>

                    <div class="types pull-left">
                        <div class="checkbox check-success pull-left">
                            <input type="checkbox" value="1" id="checkbox1">
                            <label for="checkbox1" class="text-white">Keep Me Signed in</label>
                        </div>
                        <div class="block p-l-20 pull-left"></div>
                        <div class="checkbox check-success pull-left">
                            <input type="checkbox" value="1" id="checkbox2">
                            <label for="checkbox2" class="text-white">Keep Me Signed in</label>
                        </div>
                    </div>
                    <div class="order pull-left">
                        <select class="form-control">
                            <option value="sightseeing"><span class="fa fa-calendar"></span>Web--safe</option>
                            <option value="business">Helvetica</option>
                            <option value="honeymoon">SegeoUI</option>
                        </select>
                    </div>
                    <div class="display btn-group navbar-right">
                        <a class="btn btn-default btn-sm" href=""><i class="fa fa-th"></i></a>
                        <a class="btn btn-default btn-sm" href=""><i class="fa fa-list"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PROJECT NAV-TAB -->

    <!-- START PROJECT BODY -->
    <div class="project-wrap-body container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-transparent panel-project-wrap-body">
                    <div class="panel-body">
                        <div class="row">
                            <div class="panel-project-wrap-body-container" id="container">
                                <div class="col-md-4 item" ng-repeat="project in controllersproject">
                                    <dgc-project-item-min class="project-type-application"></dgc-project-item-min>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END PROJECT BODY -->
</div>