<!-- BEGIN SIDEBPANEL-->
<dgc-sidebar-left class="page-sidebar" data-pages="sidebar" ></dgc-sidebar-left>
<!-- END SIDEBPANEL-->

<div class="view-digicode-container page-container">
    <section class="view-section-body page-container">

        <dgc-header></dgc-header>

        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper">
            <!-- START PAGE CONTENT -->
            <div class="content">
                <ng-include src="view.url"></ng-include>
            </div>
        </div>
    </section>
</div>